body{
    font-family: "roboto", arial;
    caret-color: transparent;
}
.header-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.pfp{
    height: 34px;
    width: 34px;
    border-radius: 17px;
    cursor: pointer;
}
.lab-div, .dots-div{
    border: none;
    padding-top: 5px;
    border-radius: 12px;
    background-color: white; 
    transition: background-color 0.15s ;
    cursor: pointer;
    position: relative;
}
.lab-div:hover ,.dots-div:hover{
    background-color: #f3f4f6;
}
.lab, .dots{
    height: 19px;
    width: 19px;
    object-fit: cover;
}
.header-div{
    font-size: 14px;
}
.header-div:hover{
   text-decoration: underline;
   cursor: pointer;
}
.info{
    position: absolute;
    width: 60px;
    padding: 5px;
    left: -20px;
    background-color: #5b75a8;
    color: white;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: background-color 2s;
}
.dots-div:hover .info{
    opacity: 1;
}
.lab-info{
    position: absolute;
    width: 60px;
    padding: 5px;
    left: -20px;
    background-color: #5b75a8;
    color: white;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: background-color 2s;
}
.lab-div:hover .lab-info{
    opacity: 1;
}