body{
    font-family: "roboto", arial;
    caret-color: transparent;
}
.header-box{
    display: flex;
    justify-content: space-between;
}
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.pfp{
    height: 34px;
    width: 34px;
    border-radius: 17px;
    cursor: pointer;
}
.lab-div, .dots-div{
    border: none;
    padding-top: 5px;
    border-radius: 12px;
    background-color: white; 
    transition: background-color 0.15s ;
    cursor: pointer;
}
.lab-div:hover ,.dots-div:hover{
    background-color: #f3f4f6;
}
.lab, .dots{
    height: 19px;
    width: 19px;
    object-fit: cover;
}
.header-div{
    font-size: 14px;
}
.header-div:hover{
   text-decoration: underline;
   cursor: pointer;
}
